@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700;800&display=swap');

@font-face {
  font-family: Ilisarniq;
  src: url('../public/assets/fonts/Ilisarniq-Light.otf');
  font-weight: 300;
}

@font-face {
  font-family: Ilisarniq;
  src: url('../public/assets/fonts/Ilisarniq-Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: Ilisarniq;
  src: url('../public/assets/fonts/Ilisarniq-Demi.otf');
  font-weight: 500;
}

@font-face {
  font-family: Ilisarniq;
  src: url('../public/assets/fonts/Ilisarniq-Bold.otf');
  font-weight: 700;
}

.remark-code-title {
  @apply px-5 py-3 font-mono text-sm font-bold text-gray-200 bg-gray-700 rounded-t;
}

.remark-code-title + div > pre {
  @apply mt-0 rounded-t-none;
}

.task-list-item:before {
  @apply hidden;
}

.code-line {
  @apply pl-4 -mx-4 border-l-4 border-gray-800 w-max pr-4;
}

.highlight-line {
  @apply -mx-4 bg-gray-700 bg-opacity-50 border-l-4 border-primary;
}

.line-number::before {
  @apply pr-4 -ml-2 text-gray-400;
  content: attr(line);
}

html {
  scroll-behavior: smooth;
}
